@{
    ViewData["Title"] = "Generations";
}

<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>Generation</th>
        <th>Year</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2006 - 2007</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2007 -2009</td>
    </tr>
    <tr>
        <td>3</td>
        <td>2009 - 2012</td>
    </tr>
    <tr>
        <td>4&4.5</td>
        <td>2012 - 2015</td>
    </tr>
    <tr>
        <td>5</td>
        <td>2015 - 2017</td>
    </tr>
    <tr>
        <td>SPECTRUM&NEOSPECTRUM</td>
        <td>2017 - NOW</td>
    </tr>
    <tr>
        <td>NeoNext SPECTRUM</td>
        <td>Stay Tuned</td>
    </tr>
</table>