@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The C# .net beta developer is platfrom placticing in C# .net programming code in web application skills on programmer skills.</p>
